body {
    background: #000 url(../imgs/map.jpg) repeat-x;
    font-size: 16px;
}

nav {
    padding: 0.2em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    list-style: none;
}

nav li {
    min-width: 3em;
    font-size: 2em;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

nav {
    background-color: rgba(0, 0, 0, 0.7)
}

section,
footer {
    background-color: rgba(255, 255, 255, 0.95);
}

section,
footer {
    padding: 1.5em 1em 5em;
}

section h2 {
    margin-top: 0;
}

section a,
footer a {
    color: darkorange;
}

header {
    padding-bottom: 1em;
}

header h1 {
    font-family: "Lora", serif;
    font-size: 1.7em;
    padding: 2em 0 1.5em;
    margin-top: 0;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.beer-item {
    padding: 0.5em;
    margin: 0;
}

.beer-item figure {
    padding: 0;
    margin: 0;
}

.beer-item .type {
    color: #DDD;
    font-size: 1em;
    display: block;
}

footer {
    background-color: #FFF;
    border-top: 1px solid #DDD;
    font-size: 2em;
}

.validate-link {
    position: absolute;
    bottom: 0px;
}

.social {
    text-align: right;
}

.form-required {
    color: red;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    color: #000;
}

.contact-form div {
    padding: 0.4em;
}

@media screen and (min-width:360px) {
    nav li {
        font-size: 1.8em;
    }
    .beer-item img {
        widows: 80%;
        max-width: 100px;
        height: auto;
    }
    footer {
        font-size: 1.5em;
        height: 4em;
    }
}

@media screen and (min-width:720px) {
    body {
        background-size: contain;
    }
    nav ul {
        list-style-type: none;
        list-style: none;
        text-indent: 0;
        float: right;
        /* display: inline-block; */
        /* width: auto; */
        /* position: absolute; */
        display: inline-block;
        width: 32%;
    }
    nav li {
        font-size: 1em;
    }
    header h1 {
        font-family: "Lora", serif;
        font-size: 3em;
        padding: 2em 0 1.5em;
    }
    .beer-item img {
        widows: 100%;
        max-width: 200px;
        height: auto;
    }
    .beer-item h3 {
        font-size: 1em;
        height: 70px;
        position: absolute;
        color: #fff;
        padding: 0.5em;
        background-color: rgba(0, 0, 0, 0.6)
    }
    footer {
        font-size: 1em;
        height: 10em;
    }
}