body{
	background: #343a40 url(../../imgs/bg_graph.png);
}

header{
	background-image:-webkit-linear-gradient(left,rgba(141,151,161,0.9) 0%,rgb(141,151,161) 50%,rgb(141,151,161) 65%,rgba(141,151,161,0.92) 100%);
    background-image: -moz-linear-gradient(left,rgba(141,151,161,0.9) 0%,rgb(141,151,161) 50%,rgb(141,151,161) 65%,rgba(141,151,161,0.92) 100%);
    background-image: -ms-linear-gradient(left,rgba(141,151,161,0.9) 0%,rgb(141,151,161) 50%,rgb(141,151,161) 65%,rgba(141,151,161,0.92) 100%);
    background-image: -o-linear-gradient(left,rgba(141,151,161,0.9) 0%,rgb(141,151,161) 50%,rgb(141,151,161) 65%,rgba(141,151,161,0.92) 100%);
    background-image: linear-gradient(left,rgba(141,151,161,0.9) 0%,rgb(141,151,161) 50%,rgb(141,151,161) 65%,rgba(141,151,161,0.92) 100%);
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(141,151,161,0.9)),color-stop(0.4,rgb(141,151,161)),color-stop(0.65,rgb(141,151,161)),color-stop(1,rgba(141,151,161,0.92)););background-color: #343a40;
	overflow:hidden;
	color:#FFF;
	text-transform: uppercase;
}

header nav {
	width:100%;
}

header nav ul, header nav li {
	list-style: none;
}

header nav li {
	border-bottom: 1px solid #ccc;
}

header a, footer a {
	color: #CCC;
	text-decoration: none;
}

header .columns {
	padding:0.3em;
}

.row-hero, footer {
background: #DD574C;
min-height: 90px;
color: #FFF;

}



.row-hero a,footer a {color: #FFF;}

.row-hero {
    box-sizing: border-box;
    color:#FFF;
    text-align: center;
    background-image: url(../../imgs/header.jpg);
    background-size: cover;
}

.cta {
    margin-top: 3em;
}

.btn {
    border: 2px solid #FFF;
    padding: 0.5em 0.7em;
    border-radius: 0.2em;
}

.btn.btn-large, .cta a {
    font-size: 1.4em;
    text-decoration: none;
}

/* header titles */

h2 .marker {
	text-align:center;
}
span.marker:before, span.marker:after {
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    background: #7a848f;
    vertical-align: middle;
    margin: -0.125em 10px auto 10px;
}

/* .header titles */

footer {
	background-color: #343a40;
	min-height: 80px;	
}

.row-hero {
		padding:3em;
    	height:300px;
    	width:100%;
	}

.title-logo{
	letter-spacing: 1.2em;
    line-height: 2.2em;
}

.pains h2, .solution h2, .features h2, .audience h2 {
	text-align: center;
}

.content {
	padding: 0.2em 0.3em;
	max-width: 80%;
	margin: 0 auto;
}

.content p{
	text-align:justify;
	padding:1.3em 0;
	line-height: 1.5em;
}

footer ul{
	padding:0;
	margin:2em 0;
}

footer li {
	list-style: none;
	line-height: 1em;
}


@media (min-width: 400px) {}


/* Larger than phablet (also point when grid becomes active) */

@media (min-width: 550px) {
   .row {
        width: 98%;
        padding: 0 5px;
    }

	header nav li {
		list-style: none;
		display: inline-block;
		padding: 0.3em 1em;
		border:0;
	}

	header {
		max-height: 2.8em;
	}




}


/* Larger than tablet */

@media (min-width: 750px) {
    .row {
        width: 90%;
        padding: 0 5px;
    }
}


/* Larger than desktop */

@media (min-width: 1000px) {}


/* Larger than Desktop HD */
